.main {
    display: flex;
    width: 100%;
}
.section {
    width: 60%;
    border-right: 1px solid #e0e5ec;
}
.aside {
    width: 40%;
}

.sidebar {
    text-align: center;
    padding: 0 35px 0 30px;
}

/*  Page */
.blocks-wrapper {
    padding: 35px 30px 35px 47px;
}

/* Header */
.header-wrapper {
    display: flex;
    align-items: center;
    margin: 35px 30px 0 47px;
}
.header-logo {
    width: 17px;
    height: 28px;
}
.header-item {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #425466;
    margin-left: 20px;
    cursor: pointer;
}
/* header-item active simulation */
/* you can use :first-child */
.header-item:nth-of-type(1) {
    background: rgba(237, 237, 237, 0.4);
    border-radius: 15px;
    padding: 10px;
}

/* Breadcrumbs */
.breadcrumbs-wrapper {
    margin: 35px 30px 0 47px;
}
.breadcrumbs {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #425466;
}
.breadcrumbs-active {
    font-weight: 600;
}

/* Block */
.block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border: 1px solid #e0e5ec;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 25px;
}
.block-title-wrapper {
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    border-bottom: 1px solid #e0e5ec;
}
.block-parth-icon {
    width: 15px;
    height: 15px;
    margin: 0 8px 0 18px;
    background: #e5e5e5;
}
.block-parth-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #425466;
}
.block-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.block-content-item {
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}
.block-content-item__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #425466;
}
.block-content-item__value {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #425466;
    margin-top: 10px;
}

.item__description {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #425466;
    opacity: 0.5;
}

/* DonutChart */
.donut-chart-wrapper {
    /* width: 150px;
    height: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donut-chart__span {

}